import { createStore, applyMiddleware } from 'redux';
import { combineEpics, createEpicMiddleware } from 'redux-observable';
import * as myEpics from './epics';

const rootEpic = combineEpics(...myEpics);

const reducer = (state) => state;

const epicMiddleware = createEpicMiddleware(rootEpic);

// normal redux
const store = createStore(
  reducer,
  applyMiddleware(epicMiddleware)
);
