import { createStore, applyMiddleware } from 'redux';
import { combineEpics, createEpicMiddleware } from 'redux-observable';
import myEpics from './epics';

const rootEpic = combineEpics(...myEpics);

const reducer = (state) => state;

const epicMiddleware = createEpicMiddleware(rootEpic);

const store = createStore(
  reducer,
  applyMiddleware(epicMiddleware)
);
