import { render, createEpic } from 'redux-epic';

const serviceOptions = {
  api: '/services'
};

const sagaOptions = {
  document: window.document,
  services: servicesCreator(null, serviceOptions)
};
const sagaMiddleware = createEpic(sagaOptions, fetchChallengeSaga, titleSaga);
const enhancers = [
  applyMiddleware(...middlewares, sagaMiddleware),
];
const reducer = createReducer(sideReducers);
const store = compose(...enhancers)(createStore)(reducer, initialState);

render(
  <Provider store={ store }><App /></Provider>,
  document.getElementById('root')
).subscribe(
  () => console.log('react app mounted'),
  err => { throw err; }
);
