const myDBObservable = new Observable(observer => {
  const ds = new CreateDatabaseConnection();
  ds.ondata = (x) => observer.next(x);
  ds.onerror = (err) => observer.error(err);
  ds.oncomplete = () => observer.complete();
  return () => {
    ds.disconnectAndDestroy();
  };
});


const observer = x => console.log(x * 5);

const subscription = myDBObservable
  .subscribe(observer);

setTimeout(
  () => {
    subscription.unsubscribe();
  },
  5000
);
