const myDBObservable = new Observable(observer => {
  // observer is made safe by Observable constructor
  const ds = new CreateDatabaseConnection();
  ds.ondata = (e) => observer.next(e);
  ds.onerror = (err) => observer.error(err);
  ds.oncomplete = () => observer.complete();
  return () => {
    ds.disconnectAndDestroy();
  };
});

function map(source, project) {
  return new Observable((observer) => {
    const mapObserver = {
      next: (x) => observer.next(project(x)),
      error: (err) => observer.error(err),
      complete: () => observer.complete()
    };
    return source.subscribe(mapObserver);
  });
}

const observer = x => console.log(x);
const cancel = map(myDBObservable, x => x * 5).subscribe(observer);

setTimeout(
  () => cancel(),
  5000
);
